@import url(globals.css);

@font-face {
    font-family: "Josefin-sans";
    src: url("/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
    font-weight: 200 900;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-regular";
    src: url("/fonts/Poppins/Poppins-Regular.ttf");
}


h1,
h2,
h3 {
    font-family: "Josefin-sans", sans-serif;
    color: var(--primary);
}

.header h1 {
    font-weight: 700;
    font-size: 3.5rem;
}

.header p {
    font-size: 1.3rem;
}


p,
.footer a {
    font-family: "Poppins-regular", sans-serif;
    font-size: 1rem;
}