body{
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2vw;
}



.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #333;
    color: white;
    padding: 1rem;
}

.sidebar{
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 1rem;
}

.main{
    grid-area: main;
    padding: 1rem;
    overflow-y: auto;
}

.footer{
    grid-area: footer;
    padding: 1rem;
    background-color: #eee;
}