/* global variables */
:root {
    --primary: blue;
}

header {
    text-align: center;
}

/* book cards */

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.book-card {
    flex: 1 1 200px;
    /* flex-grow flex-shrink flex-basis */
    max-width: 33%;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

/* sidebar form*/

fieldset.form-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

fieldset.readStatus {
    margin: 10px 0;
}

/* buttons */
button {
    background: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
}

.btn-delBook {
    margin-left: 10px;
}