@import url(fonts.css);
@import url(globals.css);

/* global variables */
:root {
    --primary: blue;
}


/* css resets */

h1 {
    margin: 0;
}

h3 {
    margin-top: 0;
}

body {
    margin: 0;
}

/* book cards */

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.book-card {
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 2rem 1rem;
    flex-grow: 1;
    max-width: 270px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

/* sidebar form*/

fieldset.form-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

fieldset.readStatus {
    margin: 10px 0 20px 0px;
    border: none;
    padding: 0;
}

div#newBookForm {
    /* border: 1px solid black; */
    padding: 1.5vw;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

legend {
    margin-bottom: 10px;
}

/* buttons */
button {
    background: var(--accent);
    color: white;
    border: 1px solid var(--accent);
    padding: 5px 15px;
    border-radius: 15px;
}

button:hover {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}


.btn-delBook {
    margin-left: 10px;
}

.footer img {
    width: 20px;
    margin-right: 10px;
}

.footer a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.author {
    color: grey;
    font-size: 0.75rem;
    margin: 8px;
}


.book-card h3 {
    margin: 0;
}

.book-card p{
    font-size: 0.8rem;
}

.btn-togRead{
    min-width: 80px;
}

.bookRead, .bookUnread:hover {
    background-color: green;
    border: 1px solid;
}

.bookUnread, .bookRead:hover {
    background-color: red;
}